* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.4;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --gray-50: #F9FAFB;
  --gray-100: #F3F4F6;
  --gray-200: #E5E7EB;
  --gray-300: #D1D5DB;
  --gray-400: #9CA3AF;
  --gray-500: #6B7280;
  --gray-600: #4B5563;
  --gray-700: #374151;
  --gray-800: #1F2937;
  --gray-900: #111827;
  --blue-50: #EFF6FF;
  --blue-100: #DBEAFE;
  --blue-200: #BFDBFE;
  --blue-300: #93C5FD;
  --blue-400: #60A5;
  --blue-500: #3B82F6;
  --blue-600: #2563EB;
  --blue-700: #1D4ED8;
  --blue-800: #1E40AF;
  --blue-900: #1E3A8A;
  --neutral-50: #FAFAFA;
  --neutral-100: #F5F5F5;
  --neutral-200: #E5E5E5;
  --neutral-300: #D4D4D4;
  --neutral-400: #A3A3A3;
  --neutral-500: #737373;
  --neutral-600: #525252;
  --neutral-700: #404040;
  --neutral-800: #262626;
  --neutral-900: #171717;
}

h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

h1,
.title {
  font-size: 2.25rem;
  margin-bottom: 0.75rem;
}

h2 {
  font-size: 2rem;
}

p {
  margin: 0;
}

p:not(:last-of-type) {
  margin-bottom: 1rem;
}

.container {
  max-width: 45rem;
  padding: 2rem 1rem;
  margin: 0 auto;
}

.header {
  margin-bottom: 2rem;
}

.tools {
  margin-top: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.grid--2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3 {
  grid-template-columns: repeat(3, 1fr);
}

.section {

}

.section__title {
  font-size: 26px;
  margin-bottom: 1rem;
}

.card {
  padding: 1rem;
  color: var(--gray-50);
  background-color: var(--gray-700);
  text-align: center;
  box-shadow: 2px 4px 24px -4px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
}

.card__label {
  color: var(--gray-400);
  display: block;
  margin-bottom: 0.25rem;
}

.card__number {
  font-size: 2rem;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}